<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="{{url_for('dashboard.static', filename='css/style.css')}}">
</head>
<body>

	{% block content %}
	<div class="container">
		{% include 'navbar.html'%}
		{% include 'sidebar.html'%}
		
		<div id="main" style="background-color: grey;">
			<div class="row">
			<h2>Manage <b>Users</b> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="mymodal">Add New User</button></h2>
		
			<table class="tablei table-hover table-dark">
			<tr>
				<th>ID</th>
				<th>nAME</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Action</th>
			</tr>
		
			<tr>
				<td>01</td>
				<td>Den</td>
				<td>den@gmail.com</td>
				<td>1234567</td>
				<td>
					<a href="" class="btn btn-warning btn-xs">Edit</a>
					<a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you shure to delete?')">Delete</a>
				</td>
			</tr>
		
		
			</table>
		
			</div>
		</div>
	
		<div id="content1" style="background-color: grey;">Content1</div>
		<div id="content2" style="background-color: grey;">Content2</div>
		<div id="content3" style="background-color: grey;">Content3</div>
		{% include 'footer.html'%}
	</div>
	{% endblock content%}

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

